@inherits LayoutComponentBase
<div class="sidebar">
    <nav>
        <a href="/certificates">Certificates</a> |
        <a href="/hosts">Hosts</a>
    </nav>
</div>
<div class="body">
    @Body
</div>

@code {
}
